.card {
    width: 250px;
    height: 150px;
    box-shadow: 0 2px 4px;
    padding: 20px;
    margin: 50px;
    text-align: center;
 

}
.card button {
    margin: 50px;
    background-color: #4CAF50;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    box-shadow: 2px 3px  #000;

}

.card button:hover {
    background-color: #3e8e41;
}

